@import "../../data/styles.css";

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.homepage-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 130px;
}

.homepage-container {
	padding-top: 5px;
}

.homepage-first-area {
	display: flex;
	justify-content: center; /* Center the content horizontally */
	align-items: center; /* Center the content vertically */
	flex-wrap: wrap; /* Allow wrapping if necessary */
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.homepage-title {
	display: flex;
	flex-wrap: wrap;
	font-size: 24px;
	font-weight: bold;
	width: 85% !important;
	overflow: hidden;
}

.title-letter {
	display: inline-block;
	opacity: 0;
	animation: fadeIn 0.5s forwards;
}

.title-word {
	display: inline-block;
	margin-right: 10px; /* Adjust the space between words */
}

.homepage-subtitle {
	width: 85% !important;
	font-size: 18px;
	color: var(--secondary-color);
}

.homepage-first-area-right-side {
	display: flex;
	justify-content: center; /* Center the image horizontally */
	align-items: center;
	width: 100%; /* Ensure it takes the full width */
}

.homepage-image-container {
	width: 370px;
	height: 500px;
	margin: 0 auto; /* Center the image container */
}

.homepage-image-wrapper {
	overflow: hidden;
	height: 400px;
	border-radius: 10%;
	/* transform: rotate(3deg); */
}

.homepage-image-wrapper img {
	margin-top: 20px;
	width: 100%;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 30px;
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.homepage-social-icon:hover {
	color: var(--primary-color);
}

.homepage-after-title {
	display: flex;
}

.homepage-projects {
	flex-basis: 300px;
	padding-top: 40px;
}

.homepage-articles {
	flex-basis: 900px;
	padding-top: 30px;
	margin-left: -30px;
}

.homepage-article {
	padding-bottom: 5px;
}

.homepage-works {
	flex-basis: 600px;
	padding-top: 30px;
}

.btnstyle{
	margin-top: 25px;
	margin-left: 400px;
}

@media (max-width: 1024px) {
	.homepage-first-area {
		flex-direction: column;
	}

	.homepage-first-area-left-side {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		order: 2;
	}

	.homepage-title {
		width: 100% !important;
		margin-top: 20px;
		font-size: 22px;
	}

	.homepage-subtitle {
		width: 100% !important;
		margin-top: 10px;
	}

	.homepage-first-area-right-side {
		width: 100%;
		order: 1;
	}

	.homepage-image-container {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-left: 10px;
		order: 1;
	}

	.homepage-after-title {
		flex-direction: column;
	}

	.homepage-projects {
		flex-basis: auto;
	}

	.homepage-articles {
		flex-basis: auto;
	}

	.homepage-works {
		flex-basis: auto;
		margin-left: -25px;
		margin-right: -25px;
	}
}
